* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --dark-green: rgb(3, 61, 3);
    --light-green: rgb(189, 209, 189);
    --bright-green: rgb(0, 188, 0);
    --grey-green: rgb(139, 152, 139);
    --transparent-green: rgb(3, 61, 3, 0.1);
    --white-green: rgb(207, 230, 207);
}

body {
    display: flex;
    flex-direction: column;
    height: 1200px;
}

/* Header and Footer */

header, footer {
    min-height: 80px;
    background-color: var(--dark-green);
    display: flex;
}

/* Header */

header {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 50px;
    gap: 10px;
}

.header-links {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 30px;
}

header img {
    height: 40px;
}

header a {
    text-decoration: none;
    color: var(--light-green);
}

/* Footer */

footer{
    color: var(--light-green);
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* Main section */

main {
    flex: 1;

    display: flex;
    flex-direction: column;
}

.one, .two, .three, .four {
    flex: 1;
}

/* Section One */

.one {
    background-color: var(--dark-green);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px 50px 50px;
    gap: 50px;
    justify-content: space-around;
}

.title-section {
    flex: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 550px;
}

.one img {
    flex: auto;
    height: 400px;
    width: 500px;
    object-fit: cover;
    max-width: 100%;
}

.title-section p {
    color: var(--light-green);
}

button {
    width: 100px;
    background-color: var(--bright-green);
    color: white;
    height: 30px;
    border-radius: 8px;
    border-style: none;
}

/* Section Two */

.two {
    margin: auto;
    text-align: center;
    padding: 50px;
}

.plant-selection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.two img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 5px;
}

.plant-selection p {
    font-size: 10px;
    color: var(--grey-green);
    width: 100px;
}

.two h2 {
    padding-bottom: 30px;
}

/* Section Three */

.three {
    background-color: var(--transparent-green);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quote {
    max-width: 400px;
    margin: 50px;
}

.three p {
    font-style: italic;
    color: var(--grey-green);
    margin-bottom: 10px;
}

.three h5 {
    font-size: 12px;
    text-align: right;
}

/* Section Four */

.four {
    padding: 50px;;
}

.buy-section {
    background-color: var(--bright-green);
    color: white;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin: auto;
    max-width: 800px;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 20px;
}

.buy-section p {
    font-size: 12px;
    color: var(--white-green);
}

.buy-section button {
    border: 2px solid white;
    font-size: small;
    font-weight: 800;
}